/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--black-color-00: #141213;
	--primary-color: #030d4f;
	--white-color-00: #e1e1e1;

	/* Font Family */
	--text-ff: 'Big Shoulders', sans-serif;

	/* Font Weight */
	--normal-fw: 400;
	--medium-fw: 500;
	--semibold-fw: 600;

	/* Font Size */
	--sm-fs: 0.85rem;
	--base-fs: 0.95rem;
	--lg-fs: 1.15rem;
	--xxl-fs: 2.85rem;

	/* Padding */
	--container-pi: 0.85rem;

	/* Width */
	--container-mw: 1280px;
	--inner-container-mw: 1024px;

	/* Border Radius */
	--btn-radius: 0.85rem;
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--text-ff);
}

html,
body {
	scroll-behavior: smooth;
}

body {
	background-color: var(--primary-color);
	font-size: var(--base-fs);
	font-weight: var(--normal-fw);
	color: var(--white-color-00);
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

a,
ul {
	display: flex;
}

button {
	border: none;
	outline: none;
	background-color: transparent;
}

img {
	display: block;
	max-width: 100%;
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.inner-container {
	max-width: var(--inner-container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

/***************** NAVBAR *******************/
/* TODO: Create NAVBAR style */
/************** End of NAVBAR ***************/

/***************** ERROR *******************/
/* TODO: Create ERROR style */
/************** End of ERROR ***************/

/***************** CONTACT INFO *******************/
/* TODO: Create CONTACT INFO style */
/************** End of CONTACT INFO ***************/
