/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--black-color-00: #141213;
	--primary-color: #fef7e1;
	--white-color-00: #e1e1e1;

	--shadow-color: rgba(0, 0, 0, 0.04);

	/* Font Family */
	--text-ff: 'Big Shoulders', sans-serif;
	--title-ff: 'Alfa Slab One', serif;

	/* Font Weight */
	--normal-fw: 400;
	--medium-fw: 500;
	--semibold-fw: 600;
	--bold-fw: 900;

	/* Font Size */
	--sm-fs: 0.85rem;
	--base-fs: 0.95rem;
	--lg-fs: 1.15rem;
	--xxxl-fs: 3.85rem;

	/* Padding */
	--container-pi: 0.85rem;

	/* Width */
	--container-mw: 1280px;
	--inner-container-mw: 1140px;

	/* Border Radius */
	--btn-radius: 0.85rem;
	--nav-radius: 1rem;
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--text-ff);
}

*.__show {
	display: flex !important;
}

*.__hidden {
	display: none !important;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	background-color: var(--primary-color);
	font-size: var(--base-fs);
	font-weight: var(--normal-fw);
	color: var(--black-color-00);
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.2s ease-in-out;
}

ul {
	list-style: none;
}

a,
ul {
	display: flex;
}

button {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.inner-container {
	max-width: var(--inner-container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.logo {
	font-size: var(--lg-fs);
	font-weight: var(--bold-fw);
}

.btn {
	background-color: var(--black-color-00);
	border-radius: var(--btn-radius);
	color: var(--white-color-00);
	padding: 0.85rem 2.85rem;
	width: fit-content;
	font-weight: var(--semibold-fw);
	font-size: var(--lg-fs);
	text-transform: uppercase;
	transition: 0.45s ease-in-out;
	opacity: 0.95;
}

.btn:hover {
	opacity: 1;
	transform: scale(1.05);
}

/***************** NAVBAR *******************/
#navbar {
	z-index: 100;
}

.navbar-content {
	padding-block: 30px;
	display: flex;
	justify-content: space-between;
}

#toggle-menu {
	display: none;
	justify-content: center;
	align-items: center;
	font-size: var(--lg-fs);
}

.navbar-menu {
	gap: 1.85rem;
}

.navbar-link {
	font-size: var(--lg-fs);
	font-weight: var(--medium-fw);
	opacity: 0.85;
}

.navbar-link:hover {
	transform: scale(1.05);
	opacity: 1;
}
/************** End of NAVBAR ***************/

/***************** ERROR *******************/
.error-content {
	min-height: calc(100vh - 98px - 2rem);
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 100%;
	align-items: center;
	column-gap: 2rem;
}

.error-text {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	position: relative;
	left: -50%;
	opacity: 0;
	animation: 1.5s ease-in-out 1s 1 normal forwards text__move;
}

.error-title {
	font-family: var(--title-ff);
	font-size: var(--xxxl-fs);
	font-weight: var(--normal-fw);
}

.error-code,
.error-description {
	font-size: var(--lg-fs);
	font-weight: var(--semibold-fw);
	line-height: 1.7;
}

@keyframes text__move {
	to {
		opacity: 1;
		left: 0;
	}
}

.error-img {
	position: relative;
}

.error-img::before {
	content: '';
	background-color: var(--shadow-color);
	height: 25px;
	width: 85%;
	position: absolute;
	border-radius: 50%;
	bottom: -2.5rem;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 1px 1px 25px 5px var(--shadow-color);
	opacity: 0;
	animation: 2s ease-in-out 1s 1 normal forwards oops__show,
		2s ease-in-out 3s infinite alternate forwards shadow__oops;
}

@keyframes shadow__oops {
	to {
		width: 55%;
	}
}

.error-img img {
	opacity: 0;
	top: 0;
	position: relative;
	animation: 2s ease-in-out 1s 1 normal forwards oops__show,
		2s ease-in-out 3s infinite alternate forwards oops__move;
}

@keyframes oops__show {
	to {
		opacity: 1;
	}
}

@keyframes oops__move {
	to {
		top: -2rem;
	}
}
/************** End of ERROR ***************/

/***************** CONTACT INFO *******************/
.contact-content {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1rem 0;
	gap: 0.55rem;
	font-size: var(--sm-fs);
	font-weight: var(--medium-fw);
	opacity: 0.88;
}
/************** End of CONTACT INFO ***************/

@media screen and (max-width: 576px) {
	/***************** General *******************/
	img {
		max-width: 90%;
		margin: 0 auto;
	}

	/***************** Reusable *******************/
	.btn {
		margin: 0 auto;
	}

	/***************** NAVBAR *******************/
	#navbar {
		position: absolute;
		width: 100%;
		background-color: var(--primary-color);
		border-radius: var(--nav-radius);
		box-shadow: 1px 1px 25px 5px var(--shadow-color);
	}

	.navbar-content {
		flex-wrap: wrap;
	}

	#toggle-menu {
		display: flex;
	}

	.navbar-menu {
		width: 100%;
		align-items: center;
		padding-block: 1.5rem;
		display: none;
		flex-direction: column;
	}
	/************** End of NAVBAR ***************/

	/***************** ERROR *******************/
	.error-content {
		min-height: calc(100vh - 2rem);
		text-align: center;
		grid-template-columns: 100%;
		padding-top: 100px;
		padding-bottom: 80px;
	}

	.error-img {
		margin-top: 3.5rem;
	}
	/************** End of ERROR ***************/
}
